[credential]
  helper = osxkeychain
[user]
  name = Rafael Kendrik
  email = rafaelkendrik@gmail.com
[push]
  followTags = true
# [core]
  # editor = code --wait
[alias]
  alias = !echo 'a(amend)\n\tc(commit)\n\td(diff)\n\tg(staged)\n\th(reset)\n\tl(log)\n\tpl(pull)\n\tps(push)\n\ts(status)\n\tr(rebase)'
  # lo = !git log --oneline
  a = !sh -c 'git add ${1:--i}' -
  c = "!c() { git add -i && git commit -m \"$*\"; }; c"
  ca = !sh -c 'git add ${1:--i} && git commit --amend' -
  d = !git diff
  ds = !git diff --staged
  l = !git log --pretty=format:'%C(blue)%h %C(white)%s - %C(cyan)%cn, %C(green)%cr %C(red)%d'
  pl = !sh -c 'git pull origin ${1:-develop}${2+:}${2}' -
  ps = !sh -c 'git push origin ${1:-develop}' -
  r = !sh -c 'git rebase -i @~${1}' -
  s = !git status -s
  u = !sh -c 'git checkout ${1:--i}' -
  uh = !git reset HEAD~1
